.pagination {
  width: fit-content;
  margin-inline: auto;

  padding-top: 3rem;
  padding-bottom: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;

  font-family: var(--font-main);
  color: var(--pag-color);
}

.pagination__btn {
  min-width: 30px;
  aspect-ratio: 1/1;

  border-radius: 50%;
  font-size: 0.875em;

  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__btn:hover {
  background-color: var(--pag-bg);
  opacity: 0.5;
}

.pagination__pages {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.page--active {
  background-color: var(--pag-bg);
}

.pagination__btn--notLink:hover {
  background-color: unset;
  opacity: 1;
}
